body{
    font-family: Arial;
}
button{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}